@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/blue.css";
ActionBar {
  color: white;
}
Label {
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  margin-top: 50%;
}
