@import "~@nativescript/theme/css/core.css";
@import "~@nativescript/theme/css/blue.css";

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

ActionBar {
  color: white;
}

Label {
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
  vertical-align: middle;
}
